.checkbox {
    display: flex;
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    gap: 8px;
    margin-top: 20px;
    margin-left: 15px;
    &__checked {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
    &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 16px;
    border: 2px solid black;
    border-radius: 2px;
  }
    &__checkmark-icon {
    width: 16px;
    height: 15px;
    fill: white;
    background-color: #2196f3;
    position: relative;
    opacity: 0;
    border-radius: 2px;
  }
  &__link {
    color: rgba(33, 150, 243, 1);
  }
}
  .checkbox input:checked ~ .checkbox__checkmark {
    border: 2px solid #2196f3;
  }
  .checkbox input:checked ~ svg {
    opacity: 1;
  }
  
 