.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: absolute;
  top: 80px;
  left: 40px;
  &__link {
    text-decoration: none;
    color: #212121;
    font-size: 40px;

    letter-spacing: 2%;
    font-weight: 500;
    @include transitions(color);
    &:hover,
    &:focus {
      color: getColors("logoColor");
      outline: 0;
    }
  }
  &__address {
    top: auto;
    bottom: 128px;
    &--link {
      text-decoration: none;
      font-size: 24px;
      color: #757575;
      @include transitions(color);
      &:hover,
      &:focus {
        color: getColors("logoColor");
        font-size: 34px;
        font-weight: 500;
        outline: 0;
      }
    }
  }
  &__socials {
    flex-direction: row;
    top: auto;
    bottom: 40px;
    &--link {
      text-decoration: none;
      color: getColors("logoColor");
      font-size: 18px;
      font-weight: 500;
      @include transitions(color);
    }
  }
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}
