.section {
  margin-bottom: 60px;
  margin-top: 60px;
  max-width: 428px;
  margin-inline: auto;

  &__heading {
    font-size: getFontSize("xl");
    font-weight: 700;
    line-height: 0.85;
    color: getColors(blackParagraph);
    text-align: center;

    margin-bottom: 30px;
  }
  &__team {
    background: getColors("sectionBackgroundColor");
    padding-bottom: 120px;
    padding-top: 60px;
    max-width: 768px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .section {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    max-width: 1200px;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .section__team {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1200px) {
  .section__team {
    max-width: 1440px;
    height: auto;
  }
}
